/.vscode/**/*
!/.vscode/launch.json
CMakeCache.txt
CMakeFiles/**/*
build/**/*
!/build/cmake/CMakeLists.txt
Makefile
cmake_install.cmake
libtworld*.*
/**/hellotworld
/**/HelloTworld
CPack*.*
/_CPack_Packages/**/*
*.deb
install_manifest.txt
